 .main{
    position: relative;
    left: -2.8%;
    height:540px;
    width: 106%;
    bottom: 20px;
    border-radius: 5px;
    background-color:rgb(11, 11, 12);
 }
 .nav{
    position: relative;
    height: 40px;
    width: 100%;
    /* background-color: red; */
     }

     .photos{
        position: relative;
        height: 300px;
        width: 100%;
        background-color: aqua;
     }

     .h2{
        position: relative;
        text-transform: capitalize;
     }